#container{
    height: 100vh;
    width: 100%;
}
#header{
    height: 10vh;
    background-color: aqua;
}
#content{
    height: 85vh;
    /* display: flex; */
}
.navbar-container{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-container{
    height: 70vh;
    background-color: antiquewhite;
}

#footer{
    height: 5vh;
    background-color: aqua;
}